classes/
checkouts/
pom.xml
pom.xml.asc
*.jar
*.rb
*.class
.lein-*
.nrepl-port

.gitignore
.npmignore
Gruntfile.js
project.clj
bower.json

# Files
src-js/export.js
src-js/clj-fuzzy.temp.js

# Folders
src/
src-cljs/
target/
test/
