<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner">
        <h1><a href="/">{{ site.title }}</a></h1>
        <p class="lead">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="https://github.com/Yomguithereal/clj-fuzzy">GitHub project</a>
            </li>
            <li>&nbsp;</li>
            <li><a href="/clojure.html">Clojure</a></li>
            <li><a href="/javascript.html">Client-side JavaScript</a></li>
            <li><a href="/node.html">Node.js</a></li>
            <li>&nbsp;</li>
            <li><a href="https://github.com/Yomguithereal">{{ site.author.name }}</a></li>
            <li>Currently v{{ site.version }}</li>
          </ul>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
